* {
  box-sizing: border-box;
  color: black;
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 1.4em;
}

html {height: 100%; width: 100%;}

body { 
  height: 100%;
  width: 100%;
  margin: 0px; 
  font-size: 18px;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
}

li { font-size: 1em; text-align: left; margin-bottom: 7px; }

h1, h2, h3, h4 {margin: 10px 5px 7px 5px; color: blue;}
p {font-size: 0.8em; margin: 7px 5px 7px 5px; }


/* -------------HOME container------------   */
#header {position: fixed; top: 0; padding-left: 10px; background-color: white; width: 100%; border-bottom: solid; border-bottom-width: 0.3px; border-color: rgba(96, 125, 139, 0.38); z-index: 99;}


.home-container {width: 100%; min-height: 100%; margin-left: 0; margin-right: 0; margin-top: 70px; margin-bottom: 200px;}

#leftbarbase {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
    width: 20%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 200;
}

#leftbar {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  font-size: 0.9em; text-transform: uppercase; letter-spacing: 2px; text-align: left; color: #aaaaaa;
  margin-bottom: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  }

 
 #middlebar {
   float: left;
   width: 60%;
   margin-left: 21%;
   min-height: 100%;
   font-size: 0.9em; letter-spacing: 2px; text-align: left; margin-bottom: 15px; color: #aaaaaa;
   
   border: solid;  border-width: 0px; border-color: rgba(96, 125, 139, 0.38);
  }

  #mainmiddle {padding-bottom: 100px;}


#rightbar {
  position: fixed; 
  float: left; 
  width: 17%; 
  min-height: 100%; 
  font-size: 0.9em; text-transform: uppercase; letter-spacing: 2px; text-align: left; color: #aaaaaa;
  margin-left: 82%; 
  margin-top: 0; border-left: solid;  border-width: 1px; border-color: rgba(96, 125, 139, 0.38);}


 #bottom {
  clear: both;
  background-color: grey;
  height: 300px;
  width: 100%;

  padding: 40px 0;
  color: #999;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background: #ECECEC;
  text-align: center;
  font-weight: 300;
 } 


/* ----------end of HOME container--  ----------   */




/* -------------this is for LOGO icon and text------------   */
#logo {display: inline-block; margin: 4px; }
#logo span {font-size: 18px; }
#logoicon {display: inline-block; vertical-align: middle; }

.top {margin: 2px 0; padding-bottom: 7px; border-bottom: solid;  border-bottom-width: 0.3px; border-color: rgba(96, 125, 139, 0.38);}
.top li a {padding: 8px; border: solid; color: white; background-color: blue; border-radius: 0px;}
/* ----------end of this is for LOGO icon and text------------   */


/* -------------this is for left side column------------   */

.text_left {
  width: 100%;
  padding: 25px 20px 5px 20px;
  color: blue;
  margin-bottom: 7px;
  border-bottom: 1px solid rgba(96, 125, 139, 0.38);
  font-size: 13px;
}

.div-category-text {
  width: 100%;
  height: 24px;
  margin-top: 0px;
  display: table;
  margin-left: 30px;
  padding: 2px;
}

.div-category-text a {width: 100%; height: 100%;  text-align: left; font-size: 12px; padding: 6px 6px; display: block;}
.div-category-text a:hover { background-color: blue; color: white;}

/* -------end of this is for left side column-----------   */

.toplist li {display:inline; padding: 2rem 1rem; font-size: 14px; font-weight: 800;}

a {
    text-decoration: none;
    text-align: center;

  }
//a:hover { border-bottom: 1px dashed #428bca; }

.dash { height: 1px; width: 30%; background: black; margin: 20px auto; }

h5 {
    font-style: normal;
    letter-spacing: 3px;
    font-size: 1.2em;
    font-weight: 400;
}



/* iphone 5 only Mobile ----------- */
@media only screen and (max-width: 320px) {
}


/* Mobile -----------outline-width:  */
@media only screen and (min-width: 667px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
}
